presentations/Barker_et_al_SAA_2025_Elk_Isotopes.pdf
presentations/Barker_SAA_25_submission.pdf
presentations/Burnett Barker and Todd 2025 abstract.pdf
presentations/Burnett et al 2025.pdf
zOldMisc/BighornSheepData.zip
zOldMisc/SHPO_BH_Trap_Locations.zip
zOldMisc/testlocs.dbf
zOldMisc/testlocs.prj
zOldMisc/testlocs.shp
zOldMisc/testlocs.shx
mapping/ArchMap.atbx
mapping/readme.md
mapping/ArchMap.gdb/a00000001.gdbindexes
mapping/ArchMap.gdb/a00000001.gdbtable
mapping/ArchMap.gdb/a00000001.gdbtablx
mapping/ArchMap.gdb/a00000001.TablesByName.atx
mapping/ArchMap.gdb/a00000002.gdbtable
mapping/ArchMap.gdb/a00000002.gdbtablx
mapping/ArchMap.gdb/a00000003.gdbindexes
mapping/ArchMap.gdb/a00000003.gdbtable
mapping/ArchMap.gdb/a00000003.gdbtablx
mapping/ArchMap.gdb/a00000004.CatItemsByPhysicalName.atx
mapping/ArchMap.gdb/a00000004.CatItemsByType.atx
mapping/ArchMap.gdb/a00000004.FDO_UUID.atx
mapping/ArchMap.gdb/a00000004.gdbindexes
mapping/ArchMap.gdb/a00000004.gdbtable
mapping/ArchMap.gdb/a00000004.gdbtablx
mapping/ArchMap.gdb/a00000004.horizon
mapping/ArchMap.gdb/a00000004.spx
mapping/ArchMap.gdb/a00000005.CatItemTypesByName.atx
mapping/ArchMap.gdb/a00000005.CatItemTypesByParentTypeID.atx
mapping/ArchMap.gdb/a00000005.CatItemTypesByUUID.atx
mapping/ArchMap.gdb/a00000005.gdbindexes
mapping/ArchMap.gdb/a00000005.gdbtable
mapping/ArchMap.gdb/a00000005.gdbtablx
mapping/ArchMap.gdb/a00000006.CatRelsByDestinationID.atx
mapping/ArchMap.gdb/a00000006.CatRelsByOriginID.atx
mapping/ArchMap.gdb/a00000006.CatRelsByType.atx
mapping/ArchMap.gdb/a00000006.FDO_UUID.atx
mapping/ArchMap.gdb/a00000006.gdbindexes
mapping/ArchMap.gdb/a00000006.gdbtable
mapping/ArchMap.gdb/a00000006.gdbtablx
mapping/ArchMap.gdb/a00000007.CatRelTypesByBackwardLabel.atx
mapping/ArchMap.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
mapping/ArchMap.gdb/a00000007.CatRelTypesByForwardLabel.atx
mapping/ArchMap.gdb/a00000007.CatRelTypesByName.atx
mapping/ArchMap.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
mapping/ArchMap.gdb/a00000007.CatRelTypesByUUID.atx
mapping/ArchMap.gdb/a00000007.gdbindexes
mapping/ArchMap.gdb/a00000007.gdbtable
mapping/ArchMap.gdb/a00000007.gdbtablx
mapping/ArchMap.gdb/a00000009.EditingTemplatesByDatasetGUID.atx
mapping/ArchMap.gdb/a00000009.EditingTemplatesByName.atx
mapping/ArchMap.gdb/a00000009.EditingTemplatesByType.atx
mapping/ArchMap.gdb/a00000009.FDO_GlobalID.atx
mapping/ArchMap.gdb/a00000009.gdbindexes
mapping/ArchMap.gdb/a00000009.gdbtable
mapping/ArchMap.gdb/a00000009.gdbtablx
mapping/ArchMap.gdb/a0000000a.EditingTemplateRelsByDestinationID.atx
mapping/ArchMap.gdb/a0000000a.EditingTemplateRelsByOriginID.atx
mapping/ArchMap.gdb/a0000000a.EditingTemplateRelsByType.atx
mapping/ArchMap.gdb/a0000000a.gdbindexes
mapping/ArchMap.gdb/a0000000a.gdbtable
mapping/ArchMap.gdb/a0000000a.gdbtablx
mapping/ArchMap.gdb/a0000000b.gdbindexes
mapping/ArchMap.gdb/a0000000b.gdbtable
mapping/ArchMap.gdb/a0000000b.gdbtablx
mapping/ArchMap.gdb/a0000000c.gdbindexes
mapping/ArchMap.gdb/a0000000c.gdbtable
mapping/ArchMap.gdb/a0000000c.gdbtablx
mapping/ArchMap.gdb/a0000000c.horizon
mapping/ArchMap.gdb/a0000000c.spx
mapping/ArchMap.gdb/a0000000d.gdbindexes
mapping/ArchMap.gdb/a0000000d.gdbtable
mapping/ArchMap.gdb/a0000000d.gdbtablx
mapping/ArchMap.gdb/a0000000d.horizon
mapping/ArchMap.gdb/a0000000d.spx
mapping/ArchMap.gdb/gdb
mapping/ArchMap.gdb/timestamps
mapping/GpMessages/410117847036000
mapping/GpMessages/411294354854700
mapping/GpMessages/411587958771700
mapping/GpMessages/411984177570100
mapping/GpMessages/412077519443800
mapping/ImportLog/b24a2dc828ac46a8b7c463cd0f35f3fd_Import.xml
mapping/Index/ArchMap_index/ArchMap/_0.cfe
mapping/Index/ArchMap_index/ArchMap/_0.cfs
mapping/Index/ArchMap_index/ArchMap/_0.si
mapping/Index/ArchMap_index/ArchMap/_0_1.del
mapping/Index/ArchMap_index/ArchMap/_2.cfe
mapping/Index/ArchMap_index/ArchMap/_2.cfs
mapping/Index/ArchMap_index/ArchMap/_2.si
mapping/Index/ArchMap_index/ArchMap/_3.cfe
mapping/Index/ArchMap_index/ArchMap/_3.cfs
mapping/Index/ArchMap_index/ArchMap/_3.si
mapping/Index/ArchMap_index/ArchMap/segments.gen
mapping/Index/ArchMap_index/ArchMap/segments_4
mapping/Index/ArchMap_index/Thumbnail/-229381209.jpg
mapping/Index/ArchMap_index/Thumbnail/indx
mapping/projects/ArchMap.atbx
mapping/projects/ArchMap.gdb/a00000001.gdbindexes
mapping/projects/ArchMap.gdb/a00000001.gdbtable
mapping/projects/ArchMap.gdb/a00000001.gdbtablx
mapping/projects/ArchMap.gdb/a00000001.TablesByName.atx
mapping/projects/ArchMap.gdb/a00000002.gdbtable
mapping/projects/ArchMap.gdb/a00000002.gdbtablx
mapping/projects/ArchMap.gdb/a00000003.gdbindexes
mapping/projects/ArchMap.gdb/a00000003.gdbtable
mapping/projects/ArchMap.gdb/a00000003.gdbtablx
mapping/projects/ArchMap.gdb/a00000004.CatItemsByPhysicalName.atx
mapping/projects/ArchMap.gdb/a00000004.CatItemsByType.atx
mapping/projects/ArchMap.gdb/a00000004.FDO_UUID.atx
mapping/projects/ArchMap.gdb/a00000004.gdbindexes
mapping/projects/ArchMap.gdb/a00000004.gdbtable
mapping/projects/ArchMap.gdb/a00000004.gdbtablx
mapping/projects/ArchMap.gdb/a00000004.horizon
mapping/projects/ArchMap.gdb/a00000004.spx
mapping/projects/ArchMap.gdb/a00000005.CatItemTypesByName.atx
mapping/projects/ArchMap.gdb/a00000005.CatItemTypesByParentTypeID.atx
mapping/projects/ArchMap.gdb/a00000005.CatItemTypesByUUID.atx
mapping/projects/ArchMap.gdb/a00000005.gdbindexes
mapping/projects/ArchMap.gdb/a00000005.gdbtable
mapping/projects/ArchMap.gdb/a00000005.gdbtablx
mapping/projects/ArchMap.gdb/a00000006.CatRelsByDestinationID.atx
mapping/projects/ArchMap.gdb/a00000006.CatRelsByOriginID.atx
mapping/projects/ArchMap.gdb/a00000006.CatRelsByType.atx
mapping/projects/ArchMap.gdb/a00000006.FDO_UUID.atx
mapping/projects/ArchMap.gdb/a00000006.gdbindexes
mapping/projects/ArchMap.gdb/a00000006.gdbtable
mapping/projects/ArchMap.gdb/a00000006.gdbtablx
mapping/projects/ArchMap.gdb/a00000007.CatRelTypesByBackwardLabel.atx
mapping/projects/ArchMap.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
mapping/projects/ArchMap.gdb/a00000007.CatRelTypesByForwardLabel.atx
mapping/projects/ArchMap.gdb/a00000007.CatRelTypesByName.atx
mapping/projects/ArchMap.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
mapping/projects/ArchMap.gdb/a00000007.CatRelTypesByUUID.atx
mapping/projects/ArchMap.gdb/a00000007.gdbindexes
mapping/projects/ArchMap.gdb/a00000007.gdbtable
mapping/projects/ArchMap.gdb/a00000007.gdbtablx
mapping/projects/ArchMap.gdb/a00000009.EditingTemplatesByDatasetGUID.atx
mapping/projects/ArchMap.gdb/a00000009.EditingTemplatesByName.atx
mapping/projects/ArchMap.gdb/a00000009.EditingTemplatesByType.atx
mapping/projects/ArchMap.gdb/a00000009.FDO_GlobalID.atx
mapping/projects/ArchMap.gdb/a00000009.gdbindexes
mapping/projects/ArchMap.gdb/a00000009.gdbtable
mapping/projects/ArchMap.gdb/a00000009.gdbtablx
mapping/projects/ArchMap.gdb/a0000000a.EditingTemplateRelsByDestinationID.atx
mapping/projects/ArchMap.gdb/a0000000a.EditingTemplateRelsByOriginID.atx
mapping/projects/ArchMap.gdb/a0000000a.EditingTemplateRelsByType.atx
mapping/projects/ArchMap.gdb/a0000000a.gdbindexes
mapping/projects/ArchMap.gdb/a0000000a.gdbtable
mapping/projects/ArchMap.gdb/a0000000a.gdbtablx
mapping/projects/ArchMap.gdb/gdb
mapping/projects/ArchMap.gdb/timestamps
mapping/projects/Index/ArchMap_index/ArchMap/_0.cfe
mapping/projects/Index/ArchMap_index/ArchMap/_0.cfs
mapping/projects/Index/ArchMap_index/ArchMap/_0.si
mapping/projects/Index/ArchMap_index/ArchMap/_0_1.del
mapping/projects/Index/ArchMap_index/ArchMap/_1.cfe
mapping/projects/Index/ArchMap_index/ArchMap/_1.cfs
mapping/projects/Index/ArchMap_index/ArchMap/_1.si
mapping/projects/Index/ArchMap_index/ArchMap/segments.gen
mapping/projects/Index/ArchMap_index/ArchMap/segments_2
mapping/projects/Index/ArchMap_index/Thumbnail/-229381209.jpg
mapping/projects/Index/ArchMap_index/Thumbnail/indx
data/raw/archaeology/Data_Dictionary_GRSLE_2025.xlsx
data/raw/archaeology/GRSLE_all_LP.xlsx
data/raw/archaeology/inventory-latePrehistoric/GRSLE_Inventory_2002-2025.cpg
data/raw/archaeology/inventory-latePrehistoric/GRSLE_Inventory_2002-2025.dbf
data/raw/archaeology/inventory-latePrehistoric/GRSLE_Inventory_2002-2025.prj
data/raw/archaeology/inventory-latePrehistoric/GRSLE_Inventory_2002-2025.sbn
data/raw/archaeology/inventory-latePrehistoric/GRSLE_Inventory_2002-2025.sbx
data/raw/archaeology/inventory-latePrehistoric/GRSLE_Inventory_2002-2025.shp
data/raw/archaeology/inventory-latePrehistoric/GRSLE_Inventory_2002-2025.shx
data/raw/archaeology/traps-bighorn/SHPO_BH_Trap_Locations.cpg
data/raw/archaeology/traps-bighorn/SHPO_BH_Trap_Locations.dbf
data/raw/archaeology/traps-bighorn/SHPO_BH_Trap_Locations.prj
data/raw/archaeology/traps-bighorn/SHPO_BH_Trap_Locations.sbn
data/raw/archaeology/traps-bighorn/SHPO_BH_Trap_Locations.sbx
data/raw/archaeology/traps-bighorn/SHPO_BH_Trap_Locations.shp
data/raw/archaeology/traps-bighorn/SHPO_BH_Trap_Locations.shx
data/raw/environment/conf-ephem/dblbnd.adf
data/raw/environment/conf-ephem/hdr.adf
data/raw/environment/conf-ephem/metadata.xml
data/raw/environment/conf-ephem/prj.adf
data/raw/environment/conf-ephem/sta.adf
data/raw/environment/conf-ephem/w001001.adf
data/raw/environment/conf-ephem/w001001x.adf
data/raw/environment/conf-no-ephem/dblbnd.adf
data/raw/environment/conf-no-ephem/hdr.adf
data/raw/environment/conf-no-ephem/metadata.xml
data/raw/environment/conf-no-ephem/prj.adf
data/raw/environment/conf-no-ephem/sta.adf
data/raw/environment/conf-no-ephem/vat.adf
data/raw/environment/conf-no-ephem/w001001.adf
data/raw/environment/conf-no-ephem/w001001x.adf
data/raw/environment/cost-surface/dblbnd.adf
data/raw/environment/cost-surface/hdr.adf
data/raw/environment/cost-surface/metadata.xml
data/raw/environment/cost-surface/prj.adf
data/raw/environment/cost-surface/sta.adf
data/raw/environment/cost-surface/vat.adf
data/raw/environment/cost-surface/w001001.adf
data/raw/environment/cost-surface/w001001x.adf
data/raw/environment/east/dblbnd.adf
data/raw/environment/east/hdr.adf
data/raw/environment/east/metadata.xml
data/raw/environment/east/prj.adf
data/raw/environment/east/sta.adf
data/raw/environment/east/vat.adf
data/raw/environment/east/w001001.adf
data/raw/environment/east/w001001x.adf
data/raw/environment/ext_dem30m/dblbnd.adf
data/raw/environment/ext_dem30m/hdr.adf
data/raw/environment/ext_dem30m/metadata.xml
data/raw/environment/ext_dem30m/prj.adf
data/raw/environment/ext_dem30m/sta.adf
data/raw/environment/ext_dem30m/vat.adf
data/raw/environment/ext_dem30m/w001001.adf
data/raw/environment/ext_dem30m/w001001x.adf
data/raw/environment/north/dblbnd.adf
data/raw/environment/north/hdr.adf
data/raw/environment/north/metadata.xml
data/raw/environment/north/prj.adf
data/raw/environment/north/sta.adf
data/raw/environment/north/vat.adf
data/raw/environment/north/w001001.adf
data/raw/environment/north/w001001x.adf
data/raw/environment/rel100/dblbnd.adf
data/raw/environment/rel100/hdr.adf
data/raw/environment/rel100/metadata.xml
data/raw/environment/rel100/prj.adf
data/raw/environment/rel100/sta.adf
data/raw/environment/rel100/w001001.adf
data/raw/environment/rel100/w001001x.adf
data/raw/environment/rel250/dblbnd.adf
data/raw/environment/rel250/hdr.adf
data/raw/environment/rel250/metadata.xml
data/raw/environment/rel250/prj.adf
data/raw/environment/rel250/sta.adf
data/raw/environment/rel250/w001001.adf
data/raw/environment/rel250/w001001x.adf
data/raw/environment/rel500/dblbnd.adf
data/raw/environment/rel500/hdr.adf
data/raw/environment/rel500/metadata.xml
data/raw/environment/rel500/prj.adf
data/raw/environment/rel500/sta.adf
data/raw/environment/rel500/w001001.adf
data/raw/environment/rel500/w001001x.adf
data/raw/environment/slope/dblbnd.adf
data/raw/environment/slope/hdr.adf
data/raw/environment/slope/metadata.xml
data/raw/environment/slope/prj.adf
data/raw/environment/slope/sta.adf
data/raw/environment/slope/vat.adf
data/raw/environment/slope/w001001.adf
data/raw/environment/slope/w001001x.adf
data/raw/environment/solar_equinox/dblbnd.adf
data/raw/environment/solar_equinox/hdr.adf
data/raw/environment/solar_equinox/metadata.xml
data/raw/environment/solar_equinox/prj.adf
data/raw/environment/solar_equinox/sta.adf
data/raw/environment/solar_equinox/vat.adf
data/raw/environment/solar_equinox/w001001.adf
data/raw/environment/solar_equinox/w001001x.adf
data/raw/environment/solar_summer/dblbnd.adf
data/raw/environment/solar_summer/hdr.adf
data/raw/environment/solar_summer/metadata.xml
data/raw/environment/solar_summer/prj.adf
data/raw/environment/solar_summer/sta.adf
data/raw/environment/solar_summer/vat.adf
data/raw/environment/solar_summer/w001001.adf
data/raw/environment/solar_summer/w001001x.adf
data/raw/environment/solar_winter/dblbnd.adf
data/raw/environment/solar_winter/hdr.adf
data/raw/environment/solar_winter/metadata.xml
data/raw/environment/solar_winter/prj.adf
data/raw/environment/solar_winter/sta.adf
data/raw/environment/solar_winter/vat.adf
data/raw/environment/solar_winter/w001001.adf
data/raw/environment/solar_winter/w001001x.adf
data/raw/environment/strm/dblbnd.adf
data/raw/environment/strm/hdr.adf
data/raw/environment/strm/metadata.xml
data/raw/environment/strm/prj.adf
data/raw/environment/strm/sta.adf
data/raw/environment/strm/w001001.adf
data/raw/environment/strm/w001001x.adf
data/raw/environment/strm_no_eph/dblbnd.adf
data/raw/environment/strm_no_eph/hdr.adf
data/raw/environment/strm_no_eph/metadata.xml
data/raw/environment/strm_no_eph/prj.adf
data/raw/environment/strm_no_eph/sta.adf
data/raw/environment/strm_no_eph/w001001.adf
data/raw/environment/strm_no_eph/w001001x.adf
data/raw/human-influence/usfs-shoshone/HU10_SNF_Rasterized.CPG
data/raw/human-influence/usfs-shoshone/HU10_SNF_Rasterized.dbf
data/raw/human-influence/usfs-shoshone/HU10_SNF_Rasterized.prj
data/raw/human-influence/usfs-shoshone/HU10_SNF_Rasterized.sbn
data/raw/human-influence/usfs-shoshone/HU10_SNF_Rasterized.sbx
data/raw/human-influence/usfs-shoshone/HU10_SNF_Rasterized.shp
data/raw/human-influence/usfs-shoshone/HU10_SNF_Rasterized.shp.xml
data/raw/human-influence/usfs-shoshone/HU10_SNF_Rasterized.shx
data/raw/wildlife/bighorn/BHS_AllData_121517.cpg
data/raw/wildlife/bighorn/BHS_AllData_121517.dbf
data/raw/wildlife/bighorn/BHS_AllData_121517.prj
data/raw/wildlife/bighorn/BHS_AllData_121517.sbn
data/raw/wildlife/bighorn/BHS_AllData_121517.sbx
data/raw/wildlife/bighorn/BHS_AllData_121517.shp
data/raw/wildlife/bighorn/BHS_AllData_121517.shx
data/raw/wildlife/elk/byll-mig-assessment/elk_AFAssessment.CPG
data/raw/wildlife/elk/byll-mig-assessment/elk_AFAssessment.dbf
data/raw/wildlife/elk/byll-mig-assessment/elk_AFAssessment.prj
data/raw/wildlife/elk/byll-mig-assessment/elk_AFAssessment.sbn
data/raw/wildlife/elk/byll-mig-assessment/elk_AFAssessment.sbx
data/raw/wildlife/elk/byll-mig-assessment/elk_AFAssessment.shp
data/raw/wildlife/elk/byll-mig-assessment/elk_AFAssessment.shp.xml
data/raw/wildlife/elk/byll-mig-assessment/elk_AFAssessment.shx
data/raw/wildlife/elk/middleton-lab/allelklocs_midlab.cpg
data/raw/wildlife/elk/middleton-lab/allelklocs_midlab.dbf
data/raw/wildlife/elk/middleton-lab/allelklocs_midlab.prj
data/raw/wildlife/elk/middleton-lab/allelklocs_midlab.sbn
data/raw/wildlife/elk/middleton-lab/allelklocs_midlab.sbx
data/raw/wildlife/elk/middleton-lab/allelklocs_midlab.shp
data/raw/wildlife/elk/middleton-lab/allelklocs_midlab.shp.xml
data/raw/wildlife/elk/middleton-lab/allelklocs_midlab.shx
data/raw/wildlife/elk/middleton-lab/animals.csv
data/raw/wildlife/elk/middleton-lab/elkData_Cody_All.csv
data/raw/wildlife/elk/middleton-lab/gps.csv
data/raw/wildlife/elk/middleton-lab/midLabData-2023-09-04.RData
data/raw/wildlife/elk/middleton-lab/midLabData-2023-09-04.RDS
data/raw/wildlife/elk/middleton-lab/schema.ini
data/raw/wildlife/elk/middleton-lab/sensors.csv
data/raw/wildlife/elk/middleton-lab/sensorsAnimals.csv
data/raw/wildlife/elk/middleton-lab/wigginsFk.dbf
data/raw/wildlife/elk/middleton-lab/wigginsFk.prj
data/raw/wildlife/elk/middleton-lab/wigginsFk.shp
data/raw/wildlife/elk/middleton-lab/wigginsFk.shx
data/raw/wildlife/elk/wmi/Elk_WY_ClarksFork_Routes_Ver1_2019.cpg
data/raw/wildlife/elk/wmi/Elk_WY_ClarksFork_Routes_Ver1_2019.dbf
data/raw/wildlife/elk/wmi/Elk_WY_ClarksFork_Routes_Ver1_2019.prj
data/raw/wildlife/elk/wmi/Elk_WY_ClarksFork_Routes_Ver1_2019.sbn
data/raw/wildlife/elk/wmi/Elk_WY_ClarksFork_Routes_Ver1_2019.sbx
data/raw/wildlife/elk/wmi/Elk_WY_ClarksFork_Routes_Ver1_2019.shp
data/raw/wildlife/elk/wmi/Elk_WY_ClarksFork_Routes_Ver1_2019.shx
data/raw/wildlife/elk/wmi/Elk_WY_ClarksFork_Routes_Ver1_2019.xml
data/raw/wildlife/elk/wmi/Elk_WY_Cody_Routes_Ver1_2019.dbf
data/raw/wildlife/elk/wmi/Elk_WY_Cody_Routes_Ver1_2019.prj
data/raw/wildlife/elk/wmi/Elk_WY_Cody_Routes_Ver1_2019.sbn
data/raw/wildlife/elk/wmi/Elk_WY_Cody_Routes_Ver1_2019.sbx
data/raw/wildlife/elk/wmi/Elk_WY_Cody_Routes_Ver1_2019.shp
data/raw/wildlife/elk/wmi/Elk_WY_Cody_Routes_Ver1_2019.shx
data/raw/wildlife/elk/wmi/Elk_WY_Cody_Routes_Ver1_2019.xml
data/raw/wildlife/elk/wmi/Elk_WY_Gooseberry_Routes_Ver1_2020.dbf
data/raw/wildlife/elk/wmi/Elk_WY_Gooseberry_Routes_Ver1_2020.prj
data/raw/wildlife/elk/wmi/Elk_WY_Gooseberry_Routes_Ver1_2020.sbn
data/raw/wildlife/elk/wmi/Elk_WY_Gooseberry_Routes_Ver1_2020.sbx
data/raw/wildlife/elk/wmi/Elk_WY_Gooseberry_Routes_Ver1_2020.shp
data/raw/wildlife/elk/wmi/Elk_WY_Gooseberry_Routes_Ver1_2020.shp.xml
data/raw/wildlife/elk/wmi/Elk_WY_Gooseberry_Routes_Ver1_2020.shx
data/raw/wildlife/elk/wmi/Elk_WY_Wiggins_Routes_Ver1_2020.cpg
data/raw/wildlife/elk/wmi/Elk_WY_Wiggins_Routes_Ver1_2020.dbf
data/raw/wildlife/elk/wmi/Elk_WY_Wiggins_Routes_Ver1_2020.prj
data/raw/wildlife/elk/wmi/Elk_WY_Wiggins_Routes_Ver1_2020.sbn
data/raw/wildlife/elk/wmi/Elk_WY_Wiggins_Routes_Ver1_2020.sbx
data/raw/wildlife/elk/wmi/Elk_WY_Wiggins_Routes_Ver1_2020.shp
data/raw/wildlife/elk/wmi/Elk_WY_Wiggins_Routes_Ver1_2020.shp.xml
data/raw/wildlife/elk/wmi/Elk_WY_Wiggins_Routes_Ver1_2020.shx
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean.CPG
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean.dbf
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean.prj
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean.sbn
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean.sbx
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean.shp
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean.shp.xml
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean.shx
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean_Lines.CPG
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean_Lines.dbf
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean_Lines.prj
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean_Lines.sbn
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean_Lines.sbx
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean_Lines.shp
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean_Lines.shp.xml
data/raw/wildlife/mule-deer/EGYE_MD_AllData_Clean_Lines.shx
data/raw/wildlife/mule-deer/EGYE_UpperShoshone_AllData_Clean.cpg
data/raw/wildlife/mule-deer/EGYE_UpperShoshone_AllData_Clean.dbf
data/raw/wildlife/mule-deer/EGYE_UpperShoshone_AllData_Clean.prj
data/raw/wildlife/mule-deer/EGYE_UpperShoshone_AllData_Clean.sbn
data/raw/wildlife/mule-deer/EGYE_UpperShoshone_AllData_Clean.sbx
data/raw/wildlife/mule-deer/EGYE_UpperShoshone_AllData_Clean.shp
data/raw/wildlife/mule-deer/EGYE_UpperShoshone_AllData_Clean.shx
data/raw/wildlife/mule-deer/MD_WY_ClarksFork_Routes_Ver1_2019.dbf
data/raw/wildlife/mule-deer/MD_WY_ClarksFork_Routes_Ver1_2019.prj
data/raw/wildlife/mule-deer/MD_WY_ClarksFork_Routes_Ver1_2019.sbn
data/raw/wildlife/mule-deer/MD_WY_ClarksFork_Routes_Ver1_2019.sbx
data/raw/wildlife/mule-deer/MD_WY_ClarksFork_Routes_Ver1_2019.shp
data/raw/wildlife/mule-deer/MD_WY_ClarksFork_Routes_Ver1_2019.shx
data/raw/wildlife/mule-deer/MD_WY_ClarksFork_Routes_Ver1_2019.xml
data/raw/wildlife/mule-deer/MD_WY_UpperShoshone_Routes_Ver1_2019_update.CPG
data/raw/wildlife/mule-deer/MD_WY_UpperShoshone_Routes_Ver1_2019_update.dbf
data/raw/wildlife/mule-deer/MD_WY_UpperShoshone_Routes_Ver1_2019_update.prj
data/raw/wildlife/mule-deer/MD_WY_UpperShoshone_Routes_Ver1_2019_update.sbn
data/raw/wildlife/mule-deer/MD_WY_UpperShoshone_Routes_Ver1_2019_update.sbx
data/raw/wildlife/mule-deer/MD_WY_UpperShoshone_Routes_Ver1_2019_update.shp
data/raw/wildlife/mule-deer/MD_WY_UpperShoshone_Routes_Ver1_2019_update.shx
data/raw/wildlife/mule-deer/MD_WY_UpperShoshone_Routes_Ver1_2019_update.xml
data/raw/wildlife/pronghorn/CarterMountainPronghorn_AllGPS_Jan2022.CPG
data/raw/wildlife/pronghorn/CarterMountainPronghorn_AllGPS_Jan2022.dbf
data/raw/wildlife/pronghorn/CarterMountainPronghorn_AllGPS_Jan2022.prj
data/raw/wildlife/pronghorn/CarterMountainPronghorn_AllGPS_Jan2022.sbn
data/raw/wildlife/pronghorn/CarterMountainPronghorn_AllGPS_Jan2022.sbx
data/raw/wildlife/pronghorn/CarterMountainPronghorn_AllGPS_Jan2022.shp
data/raw/wildlife/pronghorn/CarterMountainPronghorn_AllGPS_Jan2022.shp.xml
data/raw/wildlife/pronghorn/CarterMountainPronghorn_AllGPS_Jan2022.shx
docs/DataRequest_BYLL_GSRLE.docx
docs/DataRequest_BYLL_GSRLE.pdf
docs/DataRequest_BYLL_GSRLE_draft.docx
docs/mynotes_arch-ung.docx
images/picket_piney_2025.pdf
.Rproj.user/8A8DEA7B/rmd-outputs
.Rproj.user/8A8DEA7B/saved_source_markers
.Rproj.user/8A8DEA7B/pcs/files-pane.pper
.Rproj.user/8A8DEA7B/pcs/source-pane.pper
.Rproj.user/8A8DEA7B/pcs/windowlayoutstate.pper
.Rproj.user/8A8DEA7B/pcs/workbench-pane.pper
.Rproj.user/8A8DEA7B/sources/prop/0F74A119
.Rproj.user/8A8DEA7B/sources/prop/39F2C96E
.Rproj.user/8A8DEA7B/sources/prop/3B3774A7
.Rproj.user/8A8DEA7B/sources/prop/4DDC5D3C
.Rproj.user/8A8DEA7B/sources/prop/68D1F7F1
.Rproj.user/8A8DEA7B/sources/prop/7939A6E8
.Rproj.user/8A8DEA7B/sources/prop/B1A14343
.Rproj.user/8A8DEA7B/sources/prop/D770C806
.Rproj.user/8A8DEA7B/sources/prop/F453AAA1
.Rproj.user/8A8DEA7B/sources/prop/INDEX
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/0F3CDC7B
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/0F3CDC7B-contents
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/1F11B7E4
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/1F11B7E4-contents
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/75056EF0-contents
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/75766DBD-contents
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/93F3D287
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/93F3D287-contents
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/A4AEDB1A
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/A4AEDB1A-contents
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/E9C5C463-contents
.Rproj.user/8A8DEA7B/sources/session-14fe49e4/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
